<div class="page-wrapper">

  <!-- MENU SIDEBAR-->
  <aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
      <a href="#">
        <img src="assets/images/logo.png" alt="luv2shop" class="img-responsive">
      </a>
    </div>
    <div class="menu-sidebar-content js-scrollbar1">
      <nav class="navbar-sidebar">
        <ul class="list-unstyled navbar-list">
          <li>
            <a routerLink="/category/1" routerLinkActive="active-link" style="text-decoration:none">Books</a>
          </li>
          <li>
            <a routerLink="/category/2" routerLinkActive="active-link" style="text-decoration:none">Coffee Mugs</a>
          </li>
          
        </ul>
      </nav>
    </div>
  </aside>

  <app-product-category-menu></app-product-category-menu>
  
  <!-- END MENU SIDEBAR-->

  <div class="page-container">
    <!-- HEADER DESKTOP-->
    <app-search></app-search>
    <!-- END HEADER DESKTOP-->


    <!-- MAIN CONTENT-->
    <router-outlet></router-outlet>   <!-- Renders the desired component based on route-->

    </div>
  </div>

  <!-- End Page Container -->
  <footer>
		<ul>
			<li><a href="#">About Us</a></li>
			<li><a href="#">Contact Us</a></li>
			<li><a href="#">Help</a></li>
		</ul>
	</footer>
