<div class="main-content">
    <div class="section-content section-content-p30">
        <h4>{{currentCategoryName}}</h4>
        <br>
        <div class="container-fluid">
            <div class="row">

                <div *ngFor="let tempProducts of products " class="col-md-3">
                    <div class="product-box">
                        <a routerLink="/products/{{tempProducts.id}}" style="text-decoration:none">
                            <img src="{{tempProducts.imageUrl}}" class="img-responsive"> 
                        </a>

                        <a routerLink="/products/{{tempProducts.id}}" style="text-decoration:none">
                            <h1>{{tempProducts.name}}</h1>
                        </a>
                       
                        <div class="price">{{tempProducts.unitPrice | currency:'USD'}}</div>
                        <a href="#" class="primary-btn" style="text-decoration:none"> Add to cart</a>
                    </div>
                </div>
               <!-- if products empty then display message -->

               <div *ngIf="products?.length==0" class="alert alert-warning col-md-12" role="alert">
                  No products found !</div>
            </div>
        </div>
    </div>
</div>